@import url("normalize.css");
/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #fefae0;
  color: #000000; /* Set text color to black */
}

header, nav, footer {
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #d4a373;
  padding: 10px;
  color: white; /* Set text color to black */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white; /* Set link color to black */
}

nav a:hover {
  color: #b1874a; /* Change the color of the links on hover (optional) */
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

footer {
  background-color: #faedcd;
}


#hero {
  position: relative;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

#hero img {
  width: 100%;
  height: auto;
  display: block;
}

#hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 24px;
}

#cta {
  text-align: center;
}

#cta a {
  display: inline-block;
  background-color: #d4a373;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#cta a:hover {
  background-color: #b1874a;
}

/* Card Styles */
.event-container, .weather-card, .spotlight-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.event-card, .weather-card, .spotlight-card {
  flex: 0 0 calc(50% - 10px); /* Set width to 50% of the container width with spacing */
  margin-right: 10px; /* Adjust margin as needed */
}

/* Adjust margin between cards */
.event-card {
  margin-right: 10px;
}

/* Center the h2 and h3 in the events section */
#events h2, #events h3 {
  text-align: center;
}

/* Center the h2 in the weather section */
#weather h2 {
  text-align: center;
}

/* Center the h2 and h3 in the spotlights section */
#spotlights h2, #spotlights h3 {
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px; /* Adjust gap as needed */
}

.calendar-cell {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Ensure square shape */
  text-align: center;
  line-height: 30px; /* Center text vertically */
  background-color: #FAEDCD; /* Primary color */
  color: #000; /* Text color */
}

.current-day {
  background-color: #FFD700; /* Highlight current day */
}

.empty-cell {
  /* Style for empty cells before the start of the month */
  background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  /* Reset margin for smaller screens */
  .event-card, .weather-card, .spotlight-card {
    margin-right: 0;
    flex: 0 0 100%; /* Full width on smaller screens */
  }
}

