@import url("normalize.css");

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #fefae0;
  color: #000000;
}

header,
nav,
footer {
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #d4a373;
  padding: 10px;
  color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000000;
}

nav a:hover {
  color: #b1874a;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

footer {
  background-color: #faedcd;
}

#hero {
  position: relative;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

#hero img {
  width: 100%;
  height: auto;
  display: block;
}

#hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
}

#cta {
  text-align: center;
}

#cta a {
  display: inline-block;
  background-color: #d4a373;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#cta a:hover {
  background-color: #b1874a;
}

/* Card Styles */
.event-card,
.weather-card,
.spotlight-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#events {
  flex: 2;
  margin-right: 20px; /* Adjust as needed */
}

#weather {
  flex: 1;
}
#spotlights {
  flex: 2;
}
.event-card,
.weather-card,
.spotlight-card {
  flex: 0 0 calc(50% - 10px);
  margin-right: 10px;
}
.spotlight-link {
  color: black; /* Change this to the desired color */
  text-decoration: none; /* Removes underline from the link */
}

.spotlight-link:hover {
  color: #b1874a; /* Change this to the desired hover color */
}
.event-card {
  margin-right: 10px;
}

#events h2,
#events h3 {
  text-align: center;
}

#weather h2 {
  text-align: center;
}

#spotlights h2,
#spotlights h3 {
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-cell {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #faedcd;
  color: #000;
}

.current-day {
  background-color: #ffd700;
}

.empty-cell {
  background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .event-card,
  .weather-card,
  .spotlight-card {
    margin-right: 0;
    flex: 0 0 100%;
  }
}

/* Thank You Page Styles */
.thank-you-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.thank-you-container h2 {
  color: #d4a373;
  font-size: 36px;
  margin-bottom: 20px;
}

.thank-you-container p {
  font-size: 18px;
  color: #333;
}

/* Join Page Styles */
.join-container {
  max-width: 800px;
  
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.join-container h2 {
  color: #d4a373;
  font-size: 36px;
  margin-bottom: 20px;
}

.join-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-container label {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.join-container input[type="text"],
.join-container input[type="email"],
.join-container input[type="tel"],
.join-container textarea,
.join-container select {
  width: 300%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.join-container input[type="submit"] {
  background-color: #d4a373;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.join-container input[type="submit"]:hover {
  background-color: #b1874a;
}



/* Container Styles */
#membership-form {
  display: flex;
}

.membership-section {
  flex-grow: 1;
  padding-right: 10px; /* Adjust spacing between sections */
}

.form-section {
  flex-grow: 2; /* Make the form section take up more space */
}

/* Membership Level Styles */
.membership-container {
  display: flex;
  flex-wrap: wrap;
}

.membership-level {
  width: 100%; /* Make each membership level take full width */
  background-color: #d4a373; /* Match the navigation bar background color */
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.membership-level h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.membership-level p {
  font-size: 18px;
  margin-bottom: 10px;
}

.membership-level ul {
  list-style-type: none;
  padding: 0;
}

.membership-level ul li {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Form Container Styles */
.form-container {
  background-color: #d4a373; /* Match the navigation bar background color */
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px; /* Adjusted margin between the form and membership levels */
}
