/* Global Styles */
body {
  font-size: 16px;
}

header, nav, footer {
  padding: 30px;
}

nav {
  background-color: #d4a373;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

footer {
  padding: 30px;
}

#hero {
  height: 400px;
}

#hero img {
  height: 100%;
}

#hero h2 {
  font-size: 36px;
  text-align: center;
}

#cta a {
  padding: 15px 30px;
}

/* Card Styles */
.event-container, .weather-card, .spotlight-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.event-card {
  margin-right: 10px;
}

#events h2, #events h3 {
  text-align: center;
}

#weather h2 {
  text-align: center;
}

#spotlights h2, #spotlights h3 {
  text-align: center;
}

#events-weather-spotlights-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spotlight-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.spotlight-card {
  width: 100%;
  max-width: 300px;
  margin: 0 10px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  margin-top: 20px;
}

.left-column {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  margin-top: 20px;
  flex: 1;
  margin-left: 10px;
  align-items: center;
}

.left-column .card {
  width: 80%;
  background-color: #d4a373;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.demographics img {
  width: 100%;
  max-width: 400px;
}

.calendar-card {
  width: 250px;
  margin-right: 20px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image {
  width: calc(50% - 10px);
  margin-right: 10px;
  background-color: #d4a373;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  text-align: center;
}

.image:last-child {
  margin-right: 0;
}

.image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.image p {
  margin-top: 10px;
}

/* Apply hover effect only on desktop views */
@media (min-width: 769px) {
  .image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

/* Stacking elements on small screens */
@media (max-width: 768px) {
  .spotlight-container,
  .container,
  .image-container,
  .event-container,
  .weather-card,
  .spotlight-card {
    display: block;
    width: 100%;
  }
}