header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #000000;
  background-color: #FAEDCD;
}

header img {
  margin-right: 10px;
  max-width: 100px;
  box-shadow: 5px 5px 2.5px #2a2929;
}

nav {
  background-color: #D4A373;
}

nav a {
  display: flex;
  color: #050505;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

body {
  font-family: "Open Sans";
  color: #000000;
  background-color: #FEFAE0;
}
main {
  display: block;
}
main h1 {
  border-bottom: 1px solid #000000;
  text-align: left;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  border: 5px solid #D4A373;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #2f3e46;
  padding: 50px;
  margin: 20px;
}

main h2 {
  background-color: #E9EDC9;
  color: #000000;
  text-align: center;
}

.card ul {
  list-style-type: none;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
  padding: 20px;
  text-align: center;
  background: #FAEDCD;
  margin-top: 20px;
  color: #000000;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
