@media (min-width: 768px) {
    nav {
      display: flex;
      justify-content: space-between;
      
    }
    #hero img {
      height: 100%;
    }
  
    nav a {
      margin-right: 20px;
    }
  
    main {
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
      grid-template-columns: 1fr 0.6fr;
  }
  }
  